.pList {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  max-width: 1024px;
}
.pListItem {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}
.pImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}
